body {
    font-size: 14px;
}

.header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ececec;
}

h1 {
    font-size: 15px;
    padding-left: 10%;
}

.list_nav {
    list-style: none;
    display: flex;
    gap: 30px;
    margin-right: 6em;
    font-size: 12px;
}

.contact {
    border: 2px solid #939292;
    border-radius: 5px;
}

main {
    padding-left: 10%;
    padding-right: 10%;
}

.phone {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
}

.image {
    width: 650px;
}

.capacity {
    background-color: green;
    color: white;
    width: fit-content;
}

.oferta {
    font-size: 12px;
    color: rgb(250, 17, 17);
    font-weight: 700;
}

.button_price {
    display: flex;
    justify-content: start;
    column-gap: 3%;
    align-items: center;
}

.price {
    font-weight: 700;
    font-size: x-large;

}

.button_1 {
    color: white;
    background-color: dodgerblue;
    width: 76px;
    height: 30px;
    border-radius: 5px;
}

.recommended {
    display: flex;
    justify-content: space-between;
    column-gap: 60px;
    height: 320px;
    align-items: start;
}

.charger {
    flex-grow: 3;
    border: 1px solid #939292;
}

.lottery {
    background-color: rgb(180, 201, 239);
    display: flex;
    gap: 60px;
}

.lottery_1 {
    margin: 20px;
}

.h2_aside {
    font-size: 30px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 35px;
}

.submit {
    color: white;
    width: fit-content;
    background-color: dodgerblue;
    border-radius: 5px;
}

footer {
    text-align: center;
    font-weight: 700;
    font-size: 13px;
    padding-top: 20px;
}

.footer_name {
    border-top: 1px solid #ececec;
}